<div class="album-details d-flex justify-content-between row">
    <div class="album-data col-md-5">
        <img class="img-thumbnail block" style="width: 640px;" src="@Model.Cover" />
        
        <h4 class="text-center">Album Name: @Model.Name</h4>
        <h4 class="text-center">Album Price: @Model.Price</h4>
         
        <div class="d-flex justify-content-between">
            <a class="btn btn-success" href="/Tracks/Create?albumId=@Model.Id">Create Track</a>
            <a class="btn btn-success" href="/Albums/All">Back To All</a>
        </div>
    </div>

    <div class="album-tracks col-md-6">
        <h4>Tracks</h4>