<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Model.Metadata
    <title>IRunes</title>
</head>
<body>
    <div class="container-fluid">
        <header>
            @Model.Header
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3">
                        <h2 class="text-center text-success">Create Album</h2>
                        <hr class="bg-success" style="height: 2px" />

                        <form action="/Albums/Create" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" id="name" name="name" placeholder="Name..." />
                            </div>
                            <div class="form-group">
                                <label for="cover">Cover</label>
                                <input class="form-control" type="text" id="cover" name="cover" placeholder="Cover..." />
                            </div>
                            <hr class="bg-success" style="height: 2px" />
                            <div class="text-center">
                                <button class="btn btn-success" type="submit">Create</button>
                                <a class="btn btn-success" href="/Albums/All">Back To All</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            @Model.Footer
        </footer>
    </div>
</body>
</html>
