<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Model.Metadata

    <title>IRunes</title>
</head>
<body>
    <div class="container-fluid">
        <header>

         @Model.GuestHeader

        </header>

        <main>
            <div class="jumbotron bg-success text-white">
                <h1>Welcome to IRunes</h1>
                <hr class="bg-white" style="height: 2px" />
                <h2><a href="/Users/Login" class="text-warning">Login</a> if you have an account.</h2>
                <h2><a href="/Users/Register" class="text-warning">Register</a> if you don't.</h2>
            </div>
        </main>
        
        <footer>
            @Model.Footer
        </footer>
    </div>
</body>
</html>
